@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding-bottom: 2rem;

    a {
        color: #ffffff;
        font-size: 1.6rem;

        @include breakpoint(900px) {
            color: $clr-dark;
        }

        &:hover {
            opacity: 0.5;
        }
    }
}