$clr-dark: #1E1E1E;
$clr-light: #f1e6d6;

$fw-light: 400;
$fw-regular: 500;
$fw-bold: 600;

$ff-sans-serif: neue-haas-grotesk-display, sans-serif;
$ff-serif: utopia-std-display, serif;

$breakpoints: (
    'medium': 900px,
    'large': 1400px,
)